<%= render "test/nav" %>
<div class="container">
  <div class="row">
   
    <div class="col-md-8 col-md-offset-2">
        <% if user_signed_in? %>
        <h2><%= @user.username %></h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
              <p>Number of Rooms: <%= @user.rooms.length %></p>
                <p>Messages Sent: <%= @user.messages.length %></p>
                <p><%= link_to "Profile Settings", controller: "devise/registrations", action: "edit", class: "article"%></p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <% end %>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Rooms</h2>
      <hr>
      <div class="rooms">
        <% if @current_user_rooms.length == 0 %>
          <p>You're not a part of any rooms!</p>
          <%= link_to 'Create a Room', new_room_path %>
        <% elsif @current_user_rooms.length > 0 %>
          <ul id="room-list" class="roomlist list list-unstyled">
            <% @current_user_rooms.each do |room| %>
              <li>
                <h4><%= link_to room.name, room_path(room) %></h4>
                <p>Population: <%= room.users.length %> / Messages Sent: <%= room.messages.length %></p>
              </li>
              <hr>
            <% end %>
          </ul>
        <% else %>
          <ul id="room-list-empty" class="roomlist"> 
            <li>No rooms exist yet. Create one!</li> 
          </ul>
        <% end %>
      </div>
    </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
</div><!-- /.container -->


