<%= render "test/nav" %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
        <h2>Profile</h2>
        <hr>
        <% if user_signed_in? %>
          <h4><%= @user.username %> </h4>
          <p>Number of Rooms: <%= @user.rooms.length %></p>
          <p>Messages Sent: <%= @user.messages.length %></p>
          <p><%= link_to "Settings", controller: "devise/registrations", action: "edit", class: "article"%></p>
        <% end %>
    </div>
    <div class="col-md-3">
      <h2>Rooms</h2>
      <hr>
      <div class="rooms">
        <% if @rooms.length > 0 %>
          <ul id="room-list" class="roomlist list list-unstyled">
            <% @current_user_rooms.each do |room| %>
              <li>
                <h4><%= link_to room.name, room_path(room) %></h4>
                <p>Population: <%= room.users.length %> / Messages Sent: <%= room.messages.length %></p>
              </li>
              <hr>
            <% end %>
          </ul>
        <% else %>
          <ul id="room-list-empty" class="roomlist"> 
            <li>No rooms exist yet. Create one!</li> 
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Tribunals</h2>
      <hr>
      <div class="tribs">
        <% if @current_user_tribunals.length > 0 %>
          <ul id="trib-list" class="triblist list list-unstyled">
            <% @current_user_tribunals.each do |trib| %>
            <% if trib[0].votes_against > 0 %>
              <li class="red">
            <% else %>
              <li class="green">
            <% end %>
                <h4><%= trib[1] %> Cooler's tribunal</h4>
                <ul class="votes-list">
                  <li><label for="votes_for">Votes For:</label><%= trib[0].votes_for %></li>
                  <li><label for="votes_against">Votes Against:</label><%= trib[0].votes_against %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->


