<%= form_for @room, url: '/rooms/create' do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :private %>
    <%= f.radio_button :private, true, :checked => true %> Yes
    <%= f.radio_button :private, false %> No
  </div>
    <%= f.hidden_field :message_scrub , value: false %>
  <div>
    <%= f.label :voting %>
    <%= f.radio_button :voting, true, :checked => true %> Yes
    <%= f.radio_button :voting, false %> No
  </div>
  <div>
    <%= f.label :mms %>
    <%= f.radio_button :mms, true, :checked => true %> Yes
    <%= f.radio_button :mms, false %> No
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
