<%= render "test/nav" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @room.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="room" id="room-<%= @room.id %>">
      <!-- Contains all past messages -->
      <div id="messages">
        <% @messages.each do |message| %>
          <p><%= message.msg_content %></p>
        <% end %>
      </div>

      <!-- Box to input messages -->
      <div id="input-box">
        <%= form_for(@text_message, remote: true, url: '/messages/create', html: { :class => @room.id }) do %>
          <%= text_field_tag :msg_content %>
          <%= hidden_field_tag :self_destruct, false %>
          <%= hidden_field_tag :self_destruct_time, 60 %>
          <%= hidden_field_tag :self_destruct_type, 'timed' %>
          <%= hidden_field_tag :room_id, @room.id.to_i %>
          <%= hidden_field_tag :user_id, @user_id.to_i %>
          <%= hidden_field_tag :msg_type, 'Text' %>
          <%= submit_tag %>
        <% end %>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->