<%= render "test/nav" %>

<div class="watrcoolr container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= @room.name %> </h1>

            <span> Population: <%= @room.users.length %></span>
            /
            <span>Messages Sent: <%= @room.messages.length %></span>

            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="room" id="room-<%= @room.id.to_i %>">
              <!-- Contains all past messages -->
              <div id="messages">
                <% @messages.each do |message| %>
                  <% if current_user.id == message.user.id %>
                    <div class="current-user-msg chat-msg">
                  <% else %>
                    <div class="user-msg chat-msg">
                  <% end %>
                      <h4><%= message.user.username %></h4>
                      <p class="msg-date"><%= message.updated_at %></p>
                      <p class="msg-body"><%= message.msg_content %></p>
                  </div>
                  <div style="clear:both"></div>
                  <br>
                <% end %>
              </div>
              <hr>
              <!-- Box to input messages -->
              <div id="input-box">
                <%= form_for(@text_message, remote: true, url: '/messages', html: { :class => "#{@room.id} chat-text form-inline" }) do %>
                  <%= text_area_tag 'msg_content', nil, class: 'form-control', rows: 3 %>
                  <%= hidden_field_tag :self_destruct, false %>
                  <%= hidden_field_tag :self_destruct_time, 60 %>
                  <%= hidden_field_tag :self_destruct_type, 'timed' %>
                  <%= hidden_field_tag :room_id, @room.id %>
                  <%= hidden_field_tag :user_id, @user_id %>
                  <%= hidden_field_tag :msg_type, 'Text' %>
                  <%= submit_tag "Speak", class: 'submit-text btn btn-default' %>
                <% end %>
              </div>
            </div><!-- /.room -->
        </div><!-- /.col-md-9 -->
        <div class="current-users col-md-3">
          <h2>Users:</h2>
          <hr>
          <% @room.users.each do |user| %>
            <div class="current-user">
              <%= image_tag avatar_url(user) %>
              <h3> <%= user.username %></h3>
              <hr>
            </div>
          <% end %>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
