<%= render "test/nav" %>

<div class="watrcoolr container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= @room.name %> </h1>
            <span> Population: <%= @room.users.length %></span>
            /
            <span>Messages Sent: <%= @room.messages.length %></span>

            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="room" id="room-<%= @room.id.to_i %>">
              <!-- Contains all past messages -->
              <div id="messages">
                <% @messages.each do |message| %>
                  <p class="chat-msg" id="message-<%= message.id %>"><span class="user-msg"><%= message.updated_at.to_formatted_s %>: <%= message.user.username %>:</span> <%= message.msg_content %></p>
                <% end %>
              </div>

              <hr>

              <!-- Box to input messages -->
              <div id="input-box">
                <%= form_for(@text_message, remote: true, url: '/rooms/add_message', html: { :class => "#{@room.id} chat-text" }) do %>
                  <%= text_field_tag :msg_content %>
                  <%= submit_tag "Speak", class: 'submit-text btn btn-default' %>
                  <%= radio_button_tag :self_destruct, true, :checked => true %> True
                  <%= radio_button_tag :self_destruct, false, :checked => true %> False
                  <%= select_tag :self_destruct_time, options_for_select([10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60], 60) %>
                  <%= hidden_field_tag :self_destruct_type, 'timed' %>
                  <%= hidden_field_tag :room_id, @room.id %>
                  <%= hidden_field_tag :user_id, @user_id %>
                  <%= hidden_field_tag :msg_type, 'Text' %>
                <% end %>
              </div>
            </div><!-- /.room -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3">
          <h4>Users:</h4>
          <hr>
          <% @room.users.each do |user| %>
            <p><%= user.username %></p>
          <% end %>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
